*{
    background-color: #fff;
    font-family: "Sen", sans-serif;
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}
/* Header */
header{
    display: flex;
    flex-wrap: nowrap;
    height: 130px;
    border-bottom: 1px solid #FFD550;
}
a{
    text-decoration: none;
    /* background-color: transparent; */
    height: 14px;
    font-weight: 800;
    padding: 10px 20px 20px 20px;
}
#logo{
    height: 200px;
    width: 200px;
    background-color: transparent;
}
nav{
    margin: 30px;
    margin-left: 30%;
    display: flex;
    gap: 15px;
}
.nav_link{
    text-decoration: none;
    color: #AAEBFF;
    height: 14px;
    font-weight: 800;
    padding: 10px 20px 20px 20px;
    
}
.nav_link:hover{
    background-color: #FFD550;
    color: #fff;
    border-radius: 10px;
    height: 14px;
    padding: 10px 20px 20px 20px;
}
.container{
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
}

/* Section 1 */
#section1{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.div_texte{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25%;
    /* background-color: royalblue; */
}
.texte1{
    font-size: 50px;
    font-weight: 800;
}
.div_texte2{
    background-color: #AAEBFF;
    height: 60px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    gap: 5px;
    padding: 10px;
}
.link_texte2{
    margin-top: 10px;
    margin-left: 20px;
    background-color: #FFD550;
    color: #fff;
    border-radius: 10px;
    height: 14px;
    padding: 10px 20px 20px 20px;
    
}

.texte2{
    color: black;  
    margin-top: 10px; 
    background-color: #AAEBFF; 
    padding: 15px 0 0 0 ;
    font-size: 18px;
}


.image_texte{
    width: 47%;
}
.image_apprentissage{
    height: 300px;
    width: 300px;
}
.image_apprentissage{
    height: 300px;
    width: 600px;   
}

/* Section 2 */
#section2{
    width: 100%;
    height: 600px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}
.div_section2{
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    display: grid;
    grid-template-rows: 200px 150px 200px;
}
.titre{
    font-size: 50px;
    font-weight: 800;
}

/* Section 3 */
#section3{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr;
    /* margin-top: 10%; */
}
.details{
    font-size: 30px;
    font-weight: 800;
    color: #FFD550;
}
.cgu_link{
    width:30px;
    color: #AAEBFF;
    font-weight: 800;
    font-size: 20px;    
}

/* Section 4 */
#section4{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    gap: 80px;
}
.div_section4{
    margin: 0 auto;
    background-color: #AAEBFF;
    padding: 20px;
    /* height: 100px; */
    width: 80%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.div_display_section4{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 30%;
}
#imageBtnHidden1, #imageBtnHidden2, #imageBtnHidden3{
    height: 40px;
    width: 40px;
    padding: 10px;
}
#text1DivSection4, #text2DivSection4, #text3DivSection4{
    background-color: transparent;
    /* width: 60%; */
    margin: 0px 50px 20px;
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50%;
}
#text1DivSection4 img, #text2DivSection4 img, #text3DivSection4 img{
    width: 80px;
    height: 80px;
    /* margin-left:x` 130%; */
}
#text1DivSection4 p, #text2DivSection4 p, #text3DivSection4 p{
    display: flex;
    gap: 230px;
    /* flex-direction: row; */
    background-color: #AAEBFF;
    justify-content: space-around;
}


#btnHidden1, #btnHidden2, #btnHidden3{
    /* width: 90px; */
    /* border-radius: 50%; */
    height: 60px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: transparent;
}
#btnHidden1 img, #btnHidden2 img, #btnHidden3 img{
    height: 18px;
    width: 30px;
}
img{
    background-color: transparent;
}
.titre_div_section4{
    width: 500px;
    background-color: transparent;
    /* margin-top: 20px; */
    margin: 40px ;
    font-weight: 800;
}

/* Section 5 */
#section5{
    margin-left: 20px;
    width: 100%;
    display: flex;
    gap: 40px;
    overflow-x: scroll ;
    /* overflow-y: scroll ; */
}
.titre_section5{
    color: #FFD550;
    font-weight: 800;
}

.div1_section5, .div2_section5, .div3_section5{
    background-color: #FFD550;
    /* height: 250px; */
    border-radius: 20px;
    font-size: 20px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.texte1_div_section5, .texte2_div_section5{
    background-color: transparent;
}
.btn{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#btn1DivSection5, #btn2DivSection5, #btn3DivSection5{
    height: 45px;
    width: 120px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #AAEBFF;
    font-weight: 800;
}
#texte3-1DivSection5, #texte3-2DivSection5, #texte3-3DivSection5{
    display: none;
    background-color: transparent;
}
#link_section5{
    display: flex;
    margin-left: 80%;
    flex-direction: row;
    color: #AAEBFF;

}
#link_section5:hover{
    background-color: #fff;
    color: #AAEBFF;

}
.image_link_section5{
    height: 50px;
    width: 50px;
    margin-top: -10px;
    margin-left: 10px;
}

/* Section 6 */
#section6{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 400px);
    width: 100%;
    gap: 35px;
}
.titre_section6{
    color: #FFD550;
    font-weight: 800;
}
#link_section6{
    display: flex;
    margin-left: 80%;
    color: #AAEBFF;
    flex-direction: row;
}
#link_section6:hover{
    background-color: #fff;
    color: #AAEBFF;

}
.div_section6{
    background-color: #a7bec627;
    border: 1px solid #A7BEC6;
    border-radius: 10px;
    /* height: 400px; */
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
}
.titre_div_section6{
    background-color: transparent;
    font-size: 50px;
    margin: 0 auto;
    font-weight: 800;
    display: flex;
    justify-content: center;
}
.texte_div_section6{
    background-color: transparent;
    /* margin: 0 auto 20px auto 30px; */
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.image_div_section6{
    height: 80px;
    width: 80px;
    margin: 0 auto;
}
#link_section6{
    display: flex;
    margin-left: 80%;
    flex-direction: row;
    color: #AAEBFF;

}
#link_section6:hover{
    background-color: #fff;
    color: #AAEBFF;

}
.image_link_section6{
    height: 50px;
    width: 50px;
    margin-top: -10px;
    margin-left: 10px;
}
.cours_link{
    display: block;
    text-decoration: none;
    color: black;
}
.cours_link:hover{
    color: #FFD550;
}

/* Section 7 */
#section7{
    /* height: 400px; */
    width: 100%;
    background-color: #AAEBFF;
}
.div_section7{
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.form_section7{
    background-color: #fff;
    margin: 70px  20px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.image_section7{
    height: 200px;
    width: 200px;
    margin-top: 20%;
    margin-left: 40%;
}
.titre_form_section7{
    background-color: transparent;
    font-size: 60px;
    font-weight: 800;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.advice_section7{
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
    color: black; 
    font-weight: 800;
    font-size: 25px;
}
.advice_section7::placeholder{
    color: black; 
    font-weight: 800;
    font-size: 25px;
}
#send_advice{
    padding: 10px;
    border-radius: 20px;
    width: 150px; 
    /* margin: 0 auto;  */
    background-color: black;
    color: #fff; 
    font-weight: 800;
    font-size: 20px;
}

/* Footer */
footer{
    margin: 0;
    background-color: black;
    color: #fff;
    /* width: 100%; */
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    /* gap: 10%; */
    padding: 30px 0;
}
.footer_links{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-left: 500px;
}
.footer_text{
    background-color: transparent;
    margin-top: 80px;
    margin-left: 490px;
    
}
.footer_link{
    background-color: transparent;
    padding: 20px;
}
.image_footer_link{
    height: 17px;
    width: 15px;
    margin-top: 70px;
}

@media (max-width: 600px){
    footer{
        width: 100%;
 }
}