*{
    background-color: #fff;
    font-family: "Sen", sans-serif;
    margin: 0;
    padding: 0;

}
/* Header  */
header{
    display: flex;
    flex-wrap: nowrap;
    height: 130px;
    border-bottom: 1px solid  #FFD550;
}
a{
    text-decoration: none;
    /* background-color: transparent; */
    height: 14px;
    font-weight: 800;
    padding: 10px 20px 20px 20px;
}
#logo{
    height: 200px;
    width: 200px;
    background-color: transparent;
}
nav{
    margin: 30px;
    margin-left: 43%;
    display: flex;
    gap: 15px;
}
.nav_link{
    text-decoration: none;
    color: #AAEBFF;
    height: 14px;
    font-weight: 800;
    padding: 10px 20px 20px 20px;
    
}
.nav_link:hover{
    background-color: #FFD550;
    color: #fff;
    border-radius: 10px;
    height: 14px;
    padding: 10px 20px 20px 20px;
}

/* Main */
main{
    position: relative;
}
.container{
    width: 45%;
    margin: 100px auto;
    margin-top: 10%;
    padding: 30px;
    border: 1px solid #FFD550;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
h1{
    margin: 0 auto;
    font-size: 45px;
    font-weight: 800;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
input{
    padding: 20px 15px;
    border-radius: 20px;
}
input::placeholder{
    color: black;
    font-size: 15px;

}
.button{
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    gap: 110px;
}
#connect{
    padding: 18px;
    border-radius: 25px;
    width: 150px;
    background-color: #FFD550;
    font-size: 20px;
    margin: 0 30px;
}
#annuler{
    padding: 18px;
    border-radius: 25px;
    width: 150px;
    background-color: #8F5151;
    color: #fff;
    margin: 0 30px;
    font-size: 20px;
}
.div_text_form{
    display: flex;
    flex-direction: row;
    gap: 90px;
}
.text_form1{
    font-size: 20px;
    color: #FFD550;
    font-weight: normal;
}
.text_form2{
    font-size: 20px;
    color: #AAEBFF;
    font-weight: normal;
}